<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxCVl8iRwra01bKpNr69xUqZHK-j8UwgU</string>
	<key>GCM_SENDER_ID</key>
	<string>192297401009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sup.p4ak30lut1ons</string>
	<key>PROJECT_ID</key>
	<string>app239-e5496</string>
	<key>STORAGE_BUCKET</key>
	<string>app239-e5496.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192297401009:ios:c02a6e291f1b03c5e0c090</string>
</dict>
</plist>